@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);
@use '@coreui/chartjs/scss/coreui-chartjs';
@use 'vendors/simplebar';
@import 'fonts';
@import 'variables';

body {
  background-color: var(--cui-tertiary-bg);
  font-family: 'SF Pro Rounded';
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding 0.15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.sidebar {
  background: #ffffff;
  border-right: 1px solid #e2e8f0;
  color: #1e293b;
}

.sidebar-nav {
  .nav-link {
    color: #1e293b;

    .nav-icon {
      color: #1e293b;
    }

    &.active {
      background: #f8fafc;
      border-radius: 2rem;
      color: #1e293b;

      .nav-icon {
        color: #94a3b8;
      }
    }

    &:hover {
      background: #f8fafc;
      border-radius: 2rem;
      color: #1e293b;

      .nav-icon {
        color: #94a3b8;
      }
    }
  }
}

.badge-primary {
  border: 1px solid #a5b4fc;
  background: #eef2ff;
  border-radius: 1rem !important;
  color: $secondary-color !important;
}

.nav-feature-card {
  background: #f8fafc;
  border-radius: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
}

.footer-description {
  color: #475569;
  font-weight: 300;
  font-size: 15px;
  margin-block: 1rem;
}

.top-icons {
  .warning-icon {
    color: #475569;
    background: #e2e8f0;
    border-radius: 20px;
    padding: 9px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 0;
  }

  .close-icon {
    font-size: 1.2rem;
  }
}

.dismiss-anchor {
  color: #475569;
  font-weight: 500;
}

.pro-anchor {
  margin-left: 1rem;
  font-weight: 500;
  color: $secondary-color;
  text-transform: capitalize;
}

.header-nav {
  align-items: center;
  .input-group {
    border-radius: 16px;
    padding: 0.2rem;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 1px 2px 0px #8080801a;
  }

  .search-input {
    background: transparent;
    border: none;
    padding-block: 0;
  }

  .form-control {
    padding: 0;
    border: none;
    font-size: 15px;
    font-weight: 500;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .btn {
    border-radius: 12px;
    border-start-start-radius: 12px !important;
    border-end-start-radius: 12px !important;
    border: 1px solid #e6e6e6;
    font-weight: 600;
    box-shadow: 0px 1px 2px 0px #8080801a;
  }
}

.hero-section {
  padding-inline: 10rem;

  .hero-header {
    font-family: 'Rawgly';
    text-transform: uppercase;
    font-size: 85px;
    padding-inline: 7rem;
  }

  .hero-text {
    font-size: 20px;
  }

  .hero-search {
    .input-group {
      border-radius: 12px;
      padding: 0.8rem 0.5rem;
      border: 1px solid #e6e6e6;
      box-shadow: 0px 1px 2px 0px #8080801a;
    }

    .search-input {
      background: transparent;
      border: none;
      padding-block: 0;

      .icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    .form-control {
      padding: 0;
      border: none;
      font-size: 15px;
      font-weight: 500;
      background: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .search-button {
      margin-left: 1.5rem;
      border-radius: 12px;
      color: #000;
      padding-inline: 1rem;
      border: 1px solid #e6e6e6;
      box-shadow: 0px 1px 2px 0px #8080801a;
    }
  }
}
.nav-dropdown {
  position: absolute;
  background: #ffffff;
  width: -webkit-fill-available;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 1px 2px 0px rgba(128, 128, 128, 0);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tool {
  border: 1px solid #0000001c;
  margin-bottom: 1rem;
  background: #0000000f;
  color: #000000;
  border-radius: 15px;

  .card-img {
    width: 80px;
    max-width: 100%;
    height: auto;
    border-radius: 16px;

    img {
      object-fit: cover;
      height: 80px;
      border-radius: 16px;
    }
  }

  .category {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    font-family: 'SF Pro Display';
  }

  .card-description {
    font-size: 16px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-title {
    font-family: 'SF Pro Display';
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn {
    background: #0000000f;
    border: 1px solid #0000001c;
    backdrop-filter: blur(5.7237229347229px);
    color: #000;
    font-size: 12px;
    border-radius: 14px;
    padding-inline: 1.4rem;
  }

  &:hover {
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
      radial-gradient(
        365.88% 110.47% at 46.88% -8.95%,
        rgba(165, 254, 203, 0) 21.22%,
        rgba(32, 189, 255, 0.315) 71.63%,
        rgba(84, 51, 255, 0.9) 100%
      );
  }
}

.tab-holder {
  display: flex;
  gap: 1rem;
  justify-content: center;

  .category-tab {
    padding: 0.5rem 2rem !important;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
      background: #000;
      color: #ffffff;
    }

    &.selected {
      background: #000;
      color: #ffffff;
    }
  }
}

.inner-content {
  background: #ffffff;
}

.pagination-btn {
  background: #000;
  color: #ffffff;

  &.disabled {
    background: #000;
    color: #ffffff;
  }
}

.profile-title {
  font-size: 20px;
  font-weight: 600;
  font-family: 'SF Pro Display';
  color: #000;
  line-height: 1rem;
}

.profile-description {
  font-size: 12px;
  font-weight: 400;
}

.primary-button {
  background-color: #000 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  box-shadow: 0px 1px 2px 0px #8080801a !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  letter-spacing: 0px;

  i {
    color: #ffffff;
  }

  &:hover {
    i {
      color: #000;
    }
  }
}

.modal-content {
  border-radius: 20px !important;
  .modal-header {
    border-bottom: none !important;
  }

  .modal-body {
    text-align: center;

    img {
      width: 80px;
      height: auto;
      border-radius: 16px;
    }
  }

  .modal-footer {
    a {
      border-radius: 20px !important;
    }
  }
}

.drop-box {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  background: #fafafa;
  cursor: pointer;
  border-top: 1px solid #FFFFFF;
  box-shadow: 0px 16.42px 33.62px 0px #0000001f;
}

.file-holder{
  font-weight: 400;
  font-family: 'SF Pro Rounded';
}
.secondary-button{
  display: inline-flex !important;
  align-items: center;
  background: #4285F4;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 0.7rem 1.5rem;
  margin-bottom: 0.8rem;
  .plus-icon{
    background: #FFFFFF26;
    color: white;
    border-radius: 12px;
    padding: 0.2rem;
    line-height: 0;
    margin-right: 0.5rem;
    svg{
      font-size: 0.5rem !important;
    }
  }
}
.tool-head{
  font-weight: 700;
  font-family: 'SF Pro Display';
  font-size: 70px;
  color: #000;
  letter-spacing: -1.5px;
}
.tool-description{
  color: #707177;
  font-family: 'SF Pro Display';
  font-size: 16px;
  font-weight: 400;
}

.result-section{
  padding: 3rem !important;
  height: 20rem;
  width: 25rem;
  position: relative;
  img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.recent-img{
  position: relative;
  div{
    width: 3rem;
    position: relative;
    height: 3rem;
    border-radius: 12px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .add-image{
    background-color: #4285F4;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
  }
}

a{
  text-decoration: none !important;
}


form{
  font-family: 'SF Pro Rounded';
}